# Core requirements
requests==2.31.0
python-dotenv==1.0.0
matplotlib==3.7.2

# For PDF generation
reportlab==4.0.6

# For scheduler
schedule==1.2.1

# For API server
Flask==2.3.3
psutil==5.9.5

# For MQTT (if used directly in Python)
paho-mqtt==2.2.1 