.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
  outline: none;
}

.theme-toggle-placeholder {
  width: 40px;
  height: 24px;
  display: inline-block;
}

.toggle-icon {
  width: 40px;
  height: 24px;
  background-color: rgba(201, 162, 39, 0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.sun-moon {
  width: 18px;
  height: 18px;
  background-color: #ce8644;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-icon.dark .sun-moon {
  left: calc(100% - 21px);
  background-color: #2d2d2d;
  box-shadow: inset -3px -2px 0px 0px #ce8644;
}

.rays {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
  transition: all 0.3s ease;
}

.toggle-icon.light .rays {
  box-shadow: 0 0 0 2px rgba(201, 162, 39, 0.5);
}

.toggle-icon.dark .rays {
  box-shadow: none;
}