@media (min-width: 1415px) {
    /* Main page flowers */
    .rightSideFlower {
      position: absolute;
      right: 0;
      top: 180px;
      width: 100px;
      height: 300px;
      z-index: 5;
    }
    .rightSideFlower2 {
      position: absolute;
      right: 0;
      top: 1750px;
      width: 100px;
      height: 300px;
      z-index: 5;
    }
    .rightSideFlower3 {
      position: absolute;
      right: 0;
      top: 3800px;
      width: 100px;
      height: 300px;
    }
    .rightSideFlower4 {
      position: absolute;
      right: 0;
      top: 5700px;
      width: 100px;
      height: 300px;
    }
  
    .leftSideFlower {
      position: absolute;
      left: 0;
      top: 1050px;
      width: 100px;
      height: 300px;
      z-index: 5;
    }
    .leftSideFlower2 {
      position: absolute;
      left: 0;
      top: 2850px;
      width: 100px;
      height: 350px;
    }
    .leftSideFlower3 {
      position: absolute;
      left: 0;
      top: 4700px;
      width: 100px;
      height: 300px;
    }

    /* Login page flowers */
    .rightSideFlowerLogin {
      position: absolute;
      right: 0;
      top: 485px;
      width: 100px;
      height: 300px;
      z-index: 5;
    }
    
    .leftSideFlowerLogin {
      position: absolute;
      left: 0;
      top: 140px;
      width: 100px;
      height: 300px;
      z-index: 5;
    }

    /* LoggedIn page flowers */
    .rightSideFlowerLoggedIn {
      position: absolute;
      right: 0;
      top: 995px;
      width: 100px;
      height: 300px;
      z-index: 5;
    }
    .leftSideFlowerLoggedIn {
      position: absolute;
      left: 0;
      top: 160px;
      width: 100px;
      height: 300px;
      z-index: 5;
    }

    .leftSideFlowerHiveDetails {
      position: absolute;
      left: 0;
      top: 200px;
      width: 100px;
      height: 300px;
    }
    .rightSideFlowerHiveDetails {
      position: absolute;
      right: 0;
      top: 995px;
      width: 100px;
      height: 300px;
      z-index: 5;
    }

    .leftSideFlowerHiveDetails2 {
      position: absolute;
      left: 0;
      top: 1690px;
      width: 100px;
      height: 300px;
    }
    .rightSideFlowerHiveDetails2 {
      position: absolute;
      right: 0;
      top: 2500px;
      width: 100px;
      height: 300px;
    }
    .leftSideFlowerHiveDetails3 {
      position: absolute;
      left: 0;
      top: 2770px;
      width: 100px;
      height: 300px;
    }
}  